* {
	font-family: var(--sans-serif);
	color: var(--strong);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--secondary-dark: #16bb94;
	--secondary: #36e8bd;
	--secondary-light: #7bf0d3;
	--secondary-text: #eff8ff;
	--primary-dark: #0091fa;
	--primary: #45b1ff;
	--primary-light: #94d2ff;
	--primary-text: #eff8ff;

	--background: #ffffff;
	--bottom: #f3f3f3;
	--middle: #eaeaea;
	--top: #dfdfdf;
	--strong: #1c1c1c;
	--weak: #555555;
	--muted: #777777;

	--viewport-height: 100vh; /* Dynamic */
	--header-height: 7rem;
	--max-width: calc(100vw - 2rem);

	scroll-behavior: smooth;
	background-color: var(--background);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--background: #1c1c1c;
		--bottom: #2c2c2c;
		--middle: #3c3c3c;
		--top: #4c4c4c;
		--strong: #ffffff;
		--weak: #bfbfbf;
		--muted: #999999;
	}
}

.pulse {
	animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
